.row::after {
	content: "";
	clear: both;
	display: table;
}

[class*="col-"] {
	float: left;
	padding: 5px;
}

[class*="col-"] {
	width: 100%;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 50%;
	justify-content: center;
}

.column {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
}

.pageBody {
	text-align: center;
	background-image: url("/graphics/clouds.jpg");
}

.welcome {
	font-size: 40px;
	color: rgba(63, 46, 38, 0.897);
}

.welcomeMsg {
	font-size: 20px;
	color: rgba(63, 46, 38, 0.897);
}

#buttons {
	margin: 20px;
}

.btn {
	border-radius: 80%;
	width: 30%;
	padding: 10px;
	margin: 3px;
	background-color: rgba(187, 164, 187, 0.603);
	cursor: pointer;
}
.btn:hover {
	background-color: rgba(238, 235, 201, 0.63);
}

.box {
	text-align: center;
	padding: 0;
}

.highlight {
	color: rgb(136, 91, 136);
	background-color: rgba(238, 235, 201, 0.63);
}

.outputPrint {
	color: rgba(63, 46, 38, 0.897);
	font-size: 20px;
}

@media only screen and (min-width: 600px) {
	/* For tablets: */
	.col-s-1 {
		width: 8.33%;
	}
	.col-s-2 {
		width: 16.66%;
	}
	.col-s-3 {
		width: 25%;
	}
	.col-s-4 {
		width: 33.33%;
	}
	.col-s-5 {
		width: 41.66%;
	}
	.col-s-6 {
		width: 50%;
	}
	.col-s-7 {
		width: 58.33%;
	}
	.col-s-8 {
		width: 66.66%;
	}
	.col-s-9 {
		width: 75%;
	}
	.col-s-10 {
		width: 83.33%;
	}
	.col-s-11 {
		width: 91.66%;
	}
	.col-s-12 {
		width: 100%;
	}
}

@media only screen and (min-width: 768px) {
	.col-1 {
		width: 8.33%;
	}
	.col-2 {
		width: 16.66%;
	}
	.col-3 {
		width: 25%;
	}
	.col-4 {
		width: 33.33%;
	}
	.col-5 {
		width: 41.66%;
	}
	.col-6 {
		width: 50%;
	}
	.col-7 {
		width: 58.33%;
	}
	.col-8 {
		width: 66.66%;
	}
	.col-9 {
		width: 75%;
	}
	.col-10 {
		width: 83.33%;
	}
	.col-11 {
		width: 91.66%;
	}
	.col-12 {
		width: 100%;
	}
}

@media only screen and (max-width: 600px) {
	.btn {
		border-radius: 80%;
		width: 75%;
		padding: 7px;
		background-color: rgba(187, 164, 187, 0.603);
		cursor: pointer;
	}

	.outputPrint {
		color: rgba(63, 46, 38, 0.897);
		font-size: 16px;
	}
}
